@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
little,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Begin CSS */

body {

    box-sizing: border-box;
    background-color: black;
    transition: 3s;
}

.section {
    position: absolue;
    min-height: 100vh;
}

.welcome {
    height: 100vh;
}


#about {
    display: flex;
    margin: 5vh 5vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#about p {
    max-width: 30vw;
    color: #0a0a0a;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2em;
}

#about img {
    object-fit: cover;
    margin: 0 2.5vw;
    height: 10vh;
    width: auto;

}

.sun {
    height: 7.5vh;
    width: 7.5vh;
    border-radius: 7.5vh;
    background: yellow;
    position: absolute;
    left: 0;
    top: -5.75vh;
    z-index: 10;
}


#fulcrum {
    position: absolute;
    bottom: 0;
    margin: 0 12.5vw;
    height: 2vh;
    width: 75vw;
    transition: 3s;
    background: trasparent;

}


.portfolio {
    background-color: ghostwhite;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 2.5vh 0;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2.5vh;
}

.thumbnail,
.description {
    display: flex;
    width: 30vw;
    height: 40vh;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 2.5vw;
    border: 2px solid deepskyblue;
}

.description {
    background-color: skyblue;
    text-transform: uppercase;
    font-size: 1.5em;

}

.description p {
    font-family: "Josefin Sans", sans-serif;
    color: aliceblue;
    width: 25vw;
}

.description ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Raleway", sans-serif;
    font-weight: 100;

}

.thumbnail img {
    object-fit: cover;
    margin: 0 2.5vw;
    height: 40vh;
    width: 30vw;
    border: 2px solid deepskyblue;
    
}



/* Media Queries */

@media all and (max-width: 800px) {

    #about {
        flex-direction: column-reverse;
    }
    #about p {
        max-width: 100vw;
    }

    #about img {
        display: none;

    }

    .project {
        height: 100vh;
        flex-direction: column;
        margin: 0;
    }

    .odd {
        flex-direction: column-reverse;
    }

    .description {
        width: 80vw;
        margin: 2.5vh 2.5vw;
        font-size: 1em
    }
    
    .description p {
        width: 75vw;
    }

    .thumbnail {
        width: 80vw;
        margin: 2.5vh 2.5vw;
    }
    
    .thumbnail img {
        width: 80vw;
    }
}
